* {
    margin: 0;
    border: none;
    background-color: transparent;
    box-sizing: border-box;
}

body {
    max-width: 100%;
    background-color: #FFFFFF;

    & .main-container {
        max-width: 1500px;
        margin: auto;
    }
}

header {
    max-width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    & .burger-menu {
        display: none;
    }

    & img {
        width: 183px;
        height: 53px;
    }

    & .header-menu {
        display: flex;
        gap: 114px;

        & nav {
            display: flex;
            gap: 83px;
            align-items: center;

            & p {
                font: 400 23px Google Sans;
                color: #212832;

                &:hover {
                    text-decoration: underline;
                }
            }
        }

        .buttons {
            display: flex;
            gap: 50px;
            align-items: center;

            & .registr {
                width: 135px;
                height: 53px;
                font: 500 23px Google Sans;
                color: #212832;

                &:hover {
                    border: 1.33px solid #212832;
                    border-radius: 7px;
                }
            }

            & .btn-leng {
                display: flex;
                gap: 9px;
                align-items: center;
                font: 500 23px Google Sans;
                color: #212832;

                & img {
                    width: 12px;
                    height: 6px;
                }
            }
        }
    }
}

.preview {
    margin-top: 88px;
    max-width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    & .preview-info {
        max-width: 50%;
        display: flex;
        flex-direction: column;
        gap: 40px;

        & p:first-child {
            font: 700 27px Poppins;
            color: #DF6951;
        }

        & h1 {
            font: 700 112px Volkhov;
            color: #181E4B;
        }

        & p {
            max-width: 70%;
            font: 500 22px Poppins;
            color: #5E6282;
        }

        & .buttons {
            display: flex;
            gap: 58px;

            & img {
                width: 80px;
                height: 80px;
            }

            & button:first-child {
                width: 226px;
                height: 79px;
                background-color: #F1A501;
                border-radius: 13px;
                box-shadow: 0px 26.6px 46.55px 0px #F1A50126;
                font: 500 24px Google Sans;
                color: #FFFFFF;
            }

            & button:last-child {
                width: 226px;
                height: 79px;
                display: flex;
                gap: 15px;
                /* align-items: center; */
                font: 500 23px Poppins;
                color: #686D77;

                &:hover {
                    border-radius: 13px;
                    box-shadow: 0px 19.95px 39.9px 0px #DF69514D;
                    background: linear-gradient(180deg, #FF946D 0%, #FF7D68 100%);

                }
            }
        }
    }

    & img {
        max-width: 50%;
    }
}

@media(max-width:753px) {
    header {
        & .header-menu nav {
            display: none;
        }

        & .burger-menu {
            display: inline;
            width: 40px;
            height: 40px;
        }
    }

    .preview {
        & .preview-info {
            gap: 30px;

            & p:first-child {
                font-size: 20px;
            }

            & h1 {
                font-size: 70px;
            }

            & p {
                font-size: 16px;
            }

            & .buttons {
                gap: 40px;
                flex-direction: column;

            }
        }
    }
}

@media(max-width:400px) {
    header {
        & img {
            width: 140px;
        }

        & .header-menu {
            display: none;
        }
    }

    & .preview {
        & .prev-img {
            display: none;
        }

        .preview-info {
            max-width: 100%;

            & p:first-child {
                font-size: 16px;
            }

            & h1 {
                font-size: 60px;
            }

            & .buttons {
                & button:first-child {
                    width: 150px;
                    height: 50px;
                    font-size: 16px;
                }

                & button:last-child {
                    width: 150px;
                    height: 50px;
                    font-size: 16px;

                    & img {
                        width: 50px;
                        height: 50px;
                    }
                }
            }
        }
    }
}